// @import 'spot.scss'



$uni-color-agreement: #e7750f;
$uni-text-color-label:#494b4d;
$uni-border-color: #f1f1f1;

.scroll {
	width: 100%;
	height: calc(100vh - 50upx);
}
#app{
	background: #f1f1f1;
}
.home-background{
	background: #f1f1f1;
}
/* flex布局 */
.flex {
  /* #ifndef APP-PLUS-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}
.justify-content{
	justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* #ifndef APP-PLUS-NVUE */
.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-stretch {
  align-content: stretch;
}

/* #endif */
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

/* #ifndef APP-PLUS-NVUE */
.flex-shrink {
  flex-shrink: 0;
}

/* #endif */


/* 文字大小 */
.font-small {
  font-size: 24upx !important;
}

.font {
  font-size: 28upx !important;
}

.font-md {
  font-size: 32upx !important;
}

.font-lg {
  font-size: 40upx !important;
}

.font-icon{
	font-size: 50upx !important;
}
.font-card{
	font-size: 80upx !important;
}
.font-back{
	font-size: 180upx !important;
}
.font-mac{
	font-size: 280upx !important;
}
/* 文字缩进 */
/* #ifndef APP-PLUS-NVUE */
.text-indent {
  text-indent: 2;
}

/* #endif */
/* 文字划线 */
.text-through {
  text-decoration: line-through;
}

/* 文字对齐 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* 文字换行溢出处理 */
.text-ellipsis {
  display: -webkit-box;
   word-break: break-all;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   text-overflow: ellipsis;
  
}

/* 文字粗细和斜体 */
.font-weight-light {
  font-weight: 300;
}

/*细*/
.font-weight-lighter {
  font-weight: 100;
}

/*更细*/
.font-weight-normal {
  font-weight: 400;
}

/*正常*/
.font-weight-bold {
  font-weight: 600;
}

/*粗*/
.font-weight-bolder {
  font-weight: bold;
}

/*更粗*/
.font-italic {
  font-style: italic;
}

/*  -- 内外边距 -- */
.m-0 { margin: 0; }
/* #ifndef APP-PLUS-NVUE */
.m-auto{ margin: auto; }
/* #endif */
.m-1 { margin: 10rpx; }
.m-2 { margin: 20rpx; }
.m-3 { margin: 30rpx; }
.m-4 { margin: 40rpx; }
.m-5 { margin: 50rpx; }
.mt-0 { margin-top: 0; }
/* #ifndef APP-PLUS-NVUE */
.mt-auto { margin-top: auto; }
/* #endif */
.mt-1 { margin-top: 10rpx; }
.mt-2 { margin-top: 20rpx; }
.mt-3 { margin-top: 30rpx; }
.mt-4 { margin-top: 40rpx; }
.mt-5 { margin-top: 50rpx; }
.mt-6 { margin-top: 60rpx; }
.mt-7 { margin-top: 70rpx; }
.mt-8 { margin-top: 80rpx; }
.mt-9 { margin-top: 90rpx; }
.mt-10 { margin-top: 100rpx; }
.pt-11 { padding-top: 120rpx; }
/* #ifndef APP-PLUS-NVUE */
.mb-auto { margin-bottom: auto; }
/* #endif */
.mb-1 { margin-bottom: 10rpx; }
.mb-2 { margin-bottom: 20rpx; }
.mb-3 { margin-bottom: 30rpx; }
.mb-4 { margin-bottom: 40rpx; }
.mb-5 { margin-bottom: 50rpx; }
.mb-6 { margin-bottom: 60rpx; }
.mb-7 { margin-bottom: 70rpx; }
.mb-8 { margin-bottom: 80rpx; }
.mb-9 { margin-bottom: 90rpx; }
.mb-10 { margin-bottom: 100rpx; }
.mb-5 { margin-bottom: 50rpx; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 10; }
.ml-2 { margin-left: 20; }
/* #ifndef APP-PLUS-NVUE */
.ml-auto { margin-left: auto; }
/* #endif */
.ml-1 { margin-left: 10rpx; }
.ml-2 { margin-left: 20rpx; }
.ml-3 { margin-left: 30rpx; }
.ml-4 { margin-left: 40rpx; }
.ml-5 { margin-left: 50rpx; }
.mr-0 { margin-right: 0; }
/* #ifndef APP-PLUS-NVUE */
.mr-auto { margin-right: auto; }
/* #endif */
.mr-1 { margin-right: 10rpx; }
.mr-2 { margin-right: 20rpx; }
.mr-3 { margin-right: 30rpx; }
.mr-4 { margin-right: 40rpx; }
.mr-5 { margin-right: 50rpx; }
.my-0 { margin-top: 0; margin-bottom: 0; }
/* #ifndef APP-PLUS-NVUE */
.my-auto { margin-top: auto; margin-bottom: auto; }
/* #endif */
.my-1 { margin-top: 10rpx; margin-bottom: 10rpx; }
.my-2 { margin-top: 20rpx; margin-bottom: 20rpx; }
.my-3 { margin-top: 30rpx; margin-bottom: 30rpx; }
.my-4 { margin-top: 40rpx; margin-bottom: 40rpx; }
.my-5 { margin-top: 50rpx; margin-bottom: 50rpx; }
.mx-0 { margin-left: 0; margin-right: 0; }
/* #ifndef APP-PLUS-NVUE */
.mx-auto { margin-left: auto; margin-right: auto; }
/* #endif */
.mx-1 { margin-left: 10rpx; margin-right: 10rpx;}
.mx-2 { margin-left: 20rpx; margin-right: 20rpx;}
.mx-3 { margin-left: 30rpx; margin-right: 30rpx;}
.mx-4 { margin-left: 40rpx; margin-right: 40rpx;}
.mx-5 { margin-left: 50rpx; margin-right: 50rpx;}

.p-0 { padding: 0; }
.p { padding: 5rpx; }
.p-1 { padding: 10rpx; }
.p-2 { padding: 20rpx; }
.p-3 { padding: 30rpx; }
.p-4 { padding: 40rpx; }
.p-5 { padding: 50rpx; }
.p-6 { padding: 60rpx; }
.p-7 { padding: 70rpx; }
.p-8 { padding: 80rpx; }
.p-9 { padding: 90rpx; }
.p-10 { padding: 100rpx; }
.pt-0 { padding-top: 0; }
.pt { padding-top: 5rpx; }
.pt-1 { padding-top: 10rpx; }
.pt-2 { padding-top: 20rpx; }
.pt-3 { padding-top: 30rpx; }
.pt-4 { padding-top: 40rpx; }
.pt-5 { padding-top: 50rpx; }
.pt-10 { padding-top: 100rpx; }
.pt-5 { padding-top: 50rpx; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 10rpx; }
.pb { padding-bottom: 5rpx; }
.pb-2 { padding-bottom: 20rpx; }
.pb-3 { padding-bottom: 30rpx; }
.pb-4 { padding-bottom: 40rpx; }
.pb-5 { padding-bottom: 50rpx; }
.pl-0 { padding-left: 0; }
.pl { padding-left: 5rpx; }
.pl-1 { padding-left: 10rpx; }
.pl-2 { padding-left: 20rpx; }
.pl-3 { padding-left: 30rpx; }
.pl-4 { padding-left: 40rpx; }
.pl-5 { padding-left: 50rpx; }
.pl-6 { padding-left: 60rpx; }
.pl-7 { padding-left: 70rpx; }
.pl-8 { padding-left: 80rpx; }
.pl-9 { padding-left: 90rpx; }
.pl-10 { padding-left: 100rpx; }
.pr-0 { padding-right: 0; }
.pr { padding-right: 5rpx; }
.pr-1 { padding-right: 10rpx; }
.pr-2 { padding-right: 20rpx; }
.pr-3 { padding-right: 30rpx; }
.pr-4 { padding-right: 40rpx; }
.pr-5 { padding-right: 50rpx; }
.pr-6 { padding-right: 60rpx; }
.pr-7 { padding-right: 70rpx; }
.pr-8 { padding-right: 80rpx; }
.pr-9 { padding-right: 90rpx; }
.pr-10 { padding-right: 100rpx; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.py { padding-top: 5rpx; padding-bottom: 5rpx; }
.py-1 { padding-top: 10rpx; padding-bottom: 10rpx; }
.py-2 { padding-top: 20rpx; padding-bottom: 20rpx; }
.py-3 { padding-top: 30rpx; padding-bottom: 30rpx; }
.py-4 { padding-top: 40rpx; padding-bottom: 40rpx; }
.py-5 { padding-top: 50rpx; padding-bottom: 50rpx; }
.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 10rpx; padding-right: 10rpx;}
.px { padding-left: 5rpx; padding-right: 5rpx;}
.px-2 { padding-left: 20rpx; padding-right: 20rpx;}
.px-3 { padding-left: 30rpx; padding-right: 30rpx;}
.px-4 { padding-left: 40rpx; padding-right: 40rpx;}
.px-5 { padding-left: 50rpx; padding-right: 50rpx;}

.text-align-r{
	text-align: right;
}
.bl-1{border-left: 1px solid $uni-border-color;}
.border-1{
	border: 1px solid $uni-border-color;
}
.border-bottom{
	border-bottom: 1px solid $uni-border-color;
}

.border-top{
	border-top: 1px solid $uni-border-color;
}
.border-radius-1{
	border-radius: 10rpx;
}
.border-radius-2{
	border-radius: 20rpx;
}
.border-radius-10{
	border-radius: 100rpx;
}
.btn-login{
	// width: 100%;
	background: $uni-color-primary;
	// border-radius: 100rpx;
	text-align: center;
	color: $uni-text-color-inverse;
}
.color-test{
	color: $uni-bg-color-mask;
}
.color-icon{
	color: $uni-text-color;
}
.color-1{
	color: $uni-color-agreement;
}
.color-2{
	color: $uni-text-color-label;
}
.color-3{
	color: $uni-text-color-inverse;
}
.text-align-center{
	text-align: center;
}
.width-100{
	width: 100%;
}
.verification{
	position: absolute;
	color: $uni-text-color-inverse;
	right: 0;
	background: $uni-color-primary;
	height: 100%;
}
.header-nave{
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 100%;
	border-bottom: 1px solid #cccccc;
	text-align: center;
	background: $uni-text-color-inverse;
	z-index: 999999;
}
.background-white{
	background: white;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
$back-all:#e7750f;
$back-last: #fd674b;
.balens{
	background-color: $back-all;
	background-image: linear-gradient(to right, $back-last,$back-all,$back-all);
}
.border-bottom-white{
	border-bottom: 2upx solid white;
}
.logo-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	height: 200rpx;
	width: 200rpx;
	margin-left: auto;
	margin-right: auto;
}
.background-loginout{
	background: $uni-bg-color-mask !important;
}